In the previous activity we introduced the basics of reading data into a DataFrame. In this activity we will practice some more DataFrame operations. 
We will us the full US cities crime dataset rather than just focusing on the Charlotte.

In [ ]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

# Make the graphs a bit prettier, and bigger
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 7)

In [ ]:
# Read data
crime_df = pd.read_csv('us_crime.csv',encoding = "ISO-8859-1")

The simplest way to quickly peak into what is in a DataFrame is to just print it to the console. For example to see the DataFrame we created before you can just type df and see something like

In [ ]:
crime_df

This shows that we have 15 columns and 41 rows in our DataFrame.
However large DataFrames cannot be printed to the console and we have higher level commands to inspect its contents. To get information on the schema of the DataFrames, we can use the info function

In [ ]:
crime_df.info()

In the previous activity we saw how we to print a few rows or colums using array-like indexing of row ids or column keys or head() method. Pandas also has a useful method [describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe) that summarizes the contents of numerical columns in a DataFrame. For example in crime_df we can see the mean, standard deviation etc. for the column a by running describe.

In [ ]:
crime_df.describe()

Now that we worked our way through the basics, lets now see how we can use Pandas for data analysis.
### SQL-like operators
Next we will look at operators in Pandas that allow us to perform SQL-like queries on the dataset.
Selection
A SQL statement typically selects a subset of rows from a table that match a given criteria. This is known as the selection operator in Relational Algebra. Similarly we can perform selections in Pandas using boolean indexing.

Boolean indexing refers to a technique where you can use a list of boolean values to filter a DataFrame. For example lets say we only want entries from '1998'. To do this we can create a boolean list like

In [ ]:
is_1998 = crime_df['report_year'] == 1998

If we look at this boolean list we can see that it indicates which row match the selection criteria we defined (report_year = 1998)

In [ ]:
is_1998.head()

Now we can filter our DataFrame by passing it the boolean list.

In [ ]:
_1998_df = crime_df[is_1998]

Let's print out this filtered dataframe

In [ ]:
_1998_df.head()

Or we can directly do this by passing in the boolean clause to the DataFrame

In [ ]:
_1998_df = crime_df[crime_df['report_year'] == 1998]
_1998_df.head()

## TO DO - Select rows reported since the year 2010

## TO DO - Select rows where crimes_percapita is greater than 100 and less than 1000

## TO DO - Select rows where crimes_percapita is less than 50 or greater than 2000

### Projection
While selection is used for filtering rows, projection is the relational algebra operator used to select columns. To do this with Pandas we just need to pass in a list of columns that we wish to select. For example to only keep the 'report_year', 'agency_jurisdiction' and 'crimes_percapita' columns we would run

In [ ]:
crime_percap = crime_df[['report_year', 'agency_jurisdiction','crimes_percapita']]
crime_percap.head(5)

### Grouping
Pandas also allows you to group the DataFrame by values in any column. For example to group rows by 'agency_code' you can run

In [ ]:
grouped = crime_df.groupby('agency_code')
grouped

As you can see from the output above, grouped is not a DataFrame but an object of type DataFrameGroupBy. This just means that it contains a number of groups and each group is in turn a DataFrame. To see this try

In [ ]:
# number of groups found
grouped.ngroups
# keys for this groups (in this example agency_code)
grouped.groups.keys()

You can also group by multiple columns by just passing the a list of column names. For example to group by both year and agency code you can run

In [ ]:
grouped = crime_df.groupby(['report_year','agency_code'])

In [ ]:
grouped.describe()

Pandas also has useful commands to print various statistics about elements in each group.
- grouped.describe() prints summary statistics for numeric columns in each group 
- grouped.size() prints the number of elements in each group. 
- Similarly grouped.sum(), grouped.mean() and grouped.median() print the sum, mean and median values for numeric columns in each group

### Other SQL operators
We have only looked at the basic SQL operators so far. Pandas also supports operations like sort, join and indexing to support a wide-range of queries. You can read more about this and try out examples with the [Pandas comparison to SQL](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html)

## Applying functions to rows, column

So far we have used SQL-style operators to process our data. However to do data cleaning or more complex analysis we often need to apply functions on row or column of a DataFrame.
For example, consider the column 'months_reported' in our Dataframe. It might be useful if we could covert those number of months reported in that year to simply indicate if the reporting was over the whole year (i.e. 12 months) or not. 
To do this we will define a lambda function to check if the months_reported value is 12 and to call this function on every row of the DataFrame, we use the apply function. apply takes two arguments, the first a function to apply and secondly axis which indicates if this should be applied on every row (axis=1) or column (axis=0)


We can convert the values of months_reported column such that values in it equal to 12 are set to True and the rest are set to False

In [ ]:
crime_df['months_reported'] = crime_df['months_reported'].apply(lambda x:x==12.0)

In [ ]:
crime_df

## TO DO: Convert the crimes_percapita columm to indicate 'high' value for any rows with number of incidents that is higher than 757